<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="#">

    <title>Sentiment Based Product Recommendation System</title>
  </head>
  <body class='bg-secondary '>
    <div class="container" >
      <!-- Content here -->
      <br>
      <div class="justify-content-md-center mx-auto" style="width: 35%;min-width:7cm;">
        <div class="card text-center">
          <div class="card-header bg-primary text-white">
            <strong>Sentiment Based Product Recommendation System</strong>
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title">Sentiment Based Product Recommendation System</h5> -->
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            
            <form  method="POST" enctype="multipart/form-data">
              <!-- <div class="form-group"> -->
                <label for="user"><strong>Enter username</strong> </label>
                <input type="user" class="form-control" name= "user" id="user" placeholder="Username"required>
               
              <br>
              <button type="submit" class="btn btn-outline-primary ">Submit</button>

              
            </form>
          </div>
          
        </div>
      </div>
      <br>
      {% if showError == 'Y' %}
      <div class="justify-content-md-center mx-auto" style="width: 20%;min-width:7cm;">
        <div class="alert alert-danger mx-auto" role="alert">
                    Enter valid username
        </div>
      </div>
      {% endif %}
      
      {% if showPred == 'Y' %}
      <div class="justify-content-md-center mx-auto"style="width: 45%;min-width:7cm;" >
        
        <ul class="list-group">
          <li class="list-group-item active"> Top 5 recommendation for user: <strong>{{user}} </strong></h6> </li>
          
            {%for n in range(0,5)%}

              <li class="list-group-item">{{ items_pred[n] }}</li>
            {%endfor%}
        </ul>
      </div>
        <br>
        
        <!-- <div class="row justify-content-md-center " >
        {%for n in range(0,5)%}
        <div class="card-group" style="height: 18rem;">
          <div class="col">
            <div class="row-sm-2">
              <div class="card " style="width: 12rem; height: 18rem;" >
                
                <div class="card-header " style="height: 11rem;">
                  <h5 class="card-text">{{ items_pred[n] }}</h5>
                </div>
                <img class="card-img-top " src="{{ url_for('static', filename= 'images/amazon.png') }}" style="width: 100%;height: 30%;" alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
        {%endfor%} -->
        
      </div> 
      {% endif %}
  </div> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>